[MASTER]
ignore=avro.py

[MESSAGES CONTROL]
disable=invalid-name

[BASIC]
good-names=p,t,e,pv

[ELIF]
max-nested-blocks=6

[FORMAT]
max-line-length=120
max-module-lines=1500

[DESIGN]
max-args=7
max-locals=31
max-attributes=12

[EXCEPTIIONS]
overgeneral-exceptions=